<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="datanode1" value="https://localhost:44350/Working/"/>
	<add key="datanode2" value="https://localhost:44328/Working/"/>
	<add key="datanode3" value="https://localhost:44305/Working/"/>
	<add key="datanode1_reduce" value="https://localhost:44396/AppController_1/Reduce"/>
	<add key="datanode2_reduce" value="https://localhost:44396/AppController_2/Reduce"/>
	<add key="datanode3_reduce" value="https://localhost:44396/AppController_3/Reduce"/>
	<add key="datanode1_shuffle" value="https://localhost:44396/AppController_1/Shuffle"/>
	<add key="datanode2_shuffle" value="https://localhost:44396/AppController_2/Shuffle"/>
	<add key="datanode3_shuffle" value="https://localhost:44396/AppController_3/Shuffle"/>
</appSettings>
</configuration>